*.pt
!best.pt
dataset/*
!dataset/images
!dataset/labels
runs/
temp/
dataset.zip
dataset-*.yaml
config-*.json
live*.*
!live.py

cotton*.*
*.cache
.vscode
.ipynb_checkpoints
.pytest_cache
**/__pycache__
venv/*
.venv*
.idea/
log/
*.log
*.log.*
*.pkl
